/* Main */

    @import url('https://fonts.googleapis.com/css?family=Assistant:200|Loved+by+the+King');

    body {
        background-color: #68EFAD;
        text-align: center;
        margin: auto;
    }

    img {
        margin-top: 10em;
        width: 5em;
    }

    h1 {
        margin-bottom: 1em;
        font-family: 'Loved by the King', cursive;
        font-size: 2.5em;
        font-weight: 800;
        letter-spacing: 0.3em;
    }

    h2 {
        font-family: 'Loved by the King', cursive;
        font-size: 1.5em;
        font-weight: 800;
        letter-spacing: 0.3em;
    }

    h3 {
        font-family: 'Loved by the King', cursive;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.3em;
    }

    p {
        font-family: 'Loved by the King', cursive;
        font-size: 1.5em;
        font-weight: 800;
        letter-spacing: 0.3em;
    }

    a {
        color: #23236d;
    }

    footer {
        position: relative;
        z-index: 10;
        margin-top: 0em;
        margin-bottom: 2em;
    }
    
    div {
        margin-bottom: 2em;
    }

    .main {
        background: rgba(255,255,255,0.5);
        margin: 3em 8em 4em 8em;
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .logo-img {
        margin-top: 7em;
        width: 5em;
    }

    .logo-img:hover {
        transform: rotate(360deg);
        transition: all 0.3s linear;
    }


/* Buttons */

    .buttonRedXL {
        background-color: #FF1744;
        color: #ffffff;
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-family: 'Loved by the King', cursive;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.3em;
        padding: 0 5em 0 5em;
        height: 3em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .buttonRedXL:hover {
        background-color: #C62828;
        padding: 0 7em 0 7em;
        transition: all 0.5s linear;
    }

    .buttonBlueXL {
        background-color: #6200EA;
        color: #fff;
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-family: 'Loved by the King', cursive;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.3em;
        padding: 0 5em 0 5em;
        height: 3em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .buttonBlueXL:hover {
        background-color: #4A148C;
        padding: 0 7em 0 7em;
        transition: all 0.5s linear;
    }

    .buttonPurpleXL {
        background-color: #7C4DFF;
        color: #ffffff;
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-family: 'Loved by the King', cursive;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.3em;
        padding: 0 5em 0 5em;
        height: 3em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .buttonPurpleXL:hover {
        background-color: #512DA8;
        padding: 0 7em 0 7em;
        transition: all 0.5s linear;
    }

    .buttonYellowXL {
        background-color: #FFEE58;
        color: #000;
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-family: 'Loved by the King', cursive;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.3em;
        padding: 0 5em 0 5em;
        height: 3em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .buttonYellowXL:hover {
        background-color: #FFD600;
        padding: 0 7em 0 7em;
        transition: all 0.5s linear;
    }

    .buttonRedL {
        background-color: #FF1744;
        color: white;
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-family: 'Loved by the King', cursive;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.25em;
        padding: 0 4em 0 4em;
        height: 2.5em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .buttonRedL:hover {
        background-color: #C62828;
        padding: 0 6em 0 6em;
        transition: all 0.5s linear;
    }

    .buttonBlueL {
        background-color: #6200EA;
        color: white;
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-family: 'Loved by the King', cursive;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.25em;
        padding: 0 4em 0 4em;
        height: 2.5em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .buttonBlueL:hover {
        background-color: #4A148C;
        padding: 0 6em 0 6em;
        transition: all 0.5s linear;
    }

    .buttonPurpleL {
        background-color: #7C4DFF;
        color: white;
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-family: 'Loved by the King', cursive;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.25em;
        padding: 0 4em 0 4em;
        height: 2.5em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .buttonPurpleL:hover {
        background-color: #512DA8;
        padding: 0 6em 0 6em;
        transition: all 0.5s linear;
    }

    .buttonYellowL {
        background-color: #FFEE58;
        color: black;
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-family: 'Loved by the King', cursive;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.25em;
        padding: 0 4em 0 4em;
        height: 2.5em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .buttonYellowL:hover {
        background-color: #FFD600;
        padding: 0 6em 0 6em;
        transition: all 0.5s linear;
    }

    .buttonRedM {
        background-color: #FF1744;
        color: white;
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-family: 'Loved by the King', cursive;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.25em;
        padding: 0 2em 0 2em;
        height: 2.5em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .buttonRedM:hover {
        background-color: #C62828;
        padding: 0 4em 0 4em;
        transition: all 0.5s linear;
    }

    .buttonBlueM {
        background-color: #6200EA;
        color: white;
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-family: 'Loved by the King', cursive;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.25em;
        padding: 0 2em 0 2em;
        height: 2.5em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .buttonBlueM:hover {
        background-color: #4A148C;
        padding: 0 4em 0 4em;
        transition: all 0.5s linear;
    }
    
    .buttonPurpleM {
        background-color: #7C4DFF;
        color: white;
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-family: 'Loved by the King', cursive;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.25em;
        padding: 0 2em 0 2em;
        height: 2.5em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .buttonPurpleM:hover {
        background-color: #512DA8;
        padding: 0 4em 0 4em;
        transition: all 0.5s linear;
    }

    .buttonYellowM {
        background-color: #FFEE58;
        color: black;
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-family: 'Loved by the King', cursive;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.25em;
        padding: 0 2em 0 2em;
        height: 2.5em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .buttonYellowM:hover {
        background-color: #FFD600;
        padding: 0 4em 0 4em;
        transition: all 0.5s linear;
    }

    .nav-button {
        margin: 3em 0 0 0;
        background-color: #fff59d;
        color: #000;
        border: none;
        cursor: pointer;
        display: inline-block;
        font-family: 'Loved by the King', cursive;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.3em;
        height: 3em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .active {
        margin: 3em 0 0 0;
        background-color: #ffeb3b;
        color: #000;
        border: none;
        cursor: pointer;
        display: inline-block;
        font-family: 'Loved by the King', cursive;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.3em;
        height: 3em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
        
        padding: 0 7em 0 7em;
        transition: all 0.5s linear;
    }

    .nav-button:hover {
        background-color: #ffeb3b;
        color: #000;
        padding: 0 4em 0 4em;
        transition: all 0.5s linear;
    }

    .fa-stack:hover {
            transform: scale(1.5);
            transition: all .3s linear;
        }

/* Form */

    .name-input {
        font-family: 'Loved by the King', cursive;
        font-size: 1.5em;
        font-weight: 1000;
        background: rgba(255,255,255,0.4);
        border: none;
        color: black;
        height: 2em;
        width: 40%;
        margin: 0;
        padding: 0 1em 0 1em;
    }

    .name-input:focus {
        width: 45%;
        height: 2.2em;
        transition: all 0.5s linear;
        background: rgba(255,255,255,0.8);
    }

    .email-input {
        font-family: 'Loved by the King', cursive;
        font-size: 1.5em;
        font-weight: 1000;
        background: rgba(255,255,255,0.4);
        border: none;
        color: black;
        height: 2em;
        width: 40%;
        margin: 0;
        padding: 0 1em 0 1em;
    }

    .email-input:focus {
        width: 45%;
        height: 2.2em;
        transition: all 0.5s linear;
        background: rgba(255,255,255,0.8);
    }


    .message-input {
        font-family: 'Loved by the King', cursive;
        font-size: 1.5em;
        font-weight: 1000;
        background: rgba(255,255,255,0.4);
        border: none;
        color: black;
        height: 5em;
        width: 40%;
        margin: 0 0.2em 1em 0.2em;
        padding: 1em 1em 1em 1em;
    }

    .message-input:focus {
        width: 45%;
        height: 7em;
        background: rgba(255,255,255,0.8);
        transition: all 0.5s linear;
    }

    .button-submit {
        background-color: #FF1744;
        color: white;
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-family: 'Loved by the King', cursive;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.25em;
        padding: 0 2em 0 2em;
        height: 2.5em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .button-submit:hover {
        background-color: #D50000;
        padding: 0 4em 0 4em;
        transition: all 0.5s linear;
    }

    .button-reset {
        background-color: #424242;
        color: white;
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-family: 'Loved by the King', cursive;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.25em;
        padding: 0 2em 0 2em;
        height: 2.5em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .button-reset:hover {
        background-color: #212121;
        padding: 0 4em 0 4em;
        transition: all 0.5s linear;
    }

/* Gallery */

    .gallery {
        margin: -10em 0 0 0;
    }

    .gallery .gallery-image {
        width: 15em;
        border: .3em solid #303030;
    }

    .gallery .gallery-image:hover {
        transform: scale(2);
        transition: all 0.2s linear;
    }

    .gallery .gallery-image-topleft {
        width: 15em;
        border: .3em solid #303030;
        border-top-left-radius: 100%;
    }

    .gallery .gallery-image-topleft:hover {
        transform: scale(2);
        transition: all 0.2s linear;
    }

    .gallery .gallery-image-topright {
        width: 15em;
        border: .3em solid #303030;
        border-top-right-radius: 100%;
    }

    .gallery .gallery-image-topright:hover {
        transform: scale(2);
        transition: all 0.2s linear;
    }

    .gallery .gallery-image-bottomleft {
        width: 15em;
        border: .3em solid #303030;
        border-bottom-left-radius: 100%;
    }

    .gallery .gallery-image-bottomleft:hover {
        transform: scale(2);
        transition: all 0.2s linear;
    }

    .gallery .gallery-image-bottomright {
        width: 15em;
        border: .3em solid #303030;
        border-bottom-right-radius: 100%;
    }

    .gallery .gallery-image-bottomright:hover {
        transform: scale(2);
        transition: all 0.2s linear;
    }

    .gallery .gallery-image-circle {
        width: 10em;
        height: 10em;
        border: .3em solid #303030;
        border-radius: 50%;
        margin-right: 2em;
        margin-bottom: 2em;
    }

    .gallery .gallery-image-circle:hover {
        width: 15em;
        border-radius: 0%;
        transform: scale(2);
        transition: all 0.2s linear;
    }

    .gallery .image-portrait {
        width: 10em;
        height: 10em;
        border: .3em solid #303030;
        border-radius: 50%;
        margin-bottom: 1.5em;
    }

/* Media */

    @media only screen and (max-width:480px){
        .nav-button {padding: 0;font-size: .85em;}
        .active {padding: 0;}
        .nav-button:hover {padding: 0}
        h1 {font-size: 1.5em;}
        h2 {font-size: 1em;}
        p {font-size: 1em;}
        .main {width: 80%;text-align: center;margin: auto;}
        .name-input {width: 60%}
        .name-input:focus {width: 60%}
        .email-input {width: 60%}
        .email-input:focus {width: 60%}
        .message-input {width: 60%}
        .message-input:focus {width: 60%}
        .button-submit {width: 80%;margin-bottom: .5em; }
        .button-reset {width: 80%;margin-bottom: .5em; }
        .buttonPurpleXL {padding: 0 3em 0 3em;width: 80%}
        .buttonPurpleXL:hover {padding: 0 3.2em 0 3.2em;}
        .buttonYellowXL {padding: 0 3em 0 3em;width: 80%}
        .buttonYellowXL:hover {padding: 0 3.2em 0 3.2em;}
        .buttonRedXL {padding: 0 3em 0 3em;width: 80%}
        .buttonRedXL:hover {padding: 0 3.2em 0 3.2em;}
        .buttonBlueXL {padding: 0 3em 0 3em;width: 80%}
        .buttonBlueXL:hover {padding: 0 3.2em 0 3.2em;}
        .buttonPurpleL {padding: 0 3em 0 3em;width: 60%}
        .buttonPurpleL:hover {padding: 0 3.2em 0 3.2em;}
        .buttonYellowL {padding: 0 3em 0 3em;width: 60%}
        .buttonYellowL:hover {padding: 0 3.2em 0 3.2em;}
        .buttonRedL {padding: 0 3em 0 3em;width: 60%}
        .buttonRedL:hover {padding: 0 3.2em 0 3.2em;}
        .buttonBlueL {padding: 0 3em 0 3em;width: 60%}
        .buttonBlueL:hover {padding: 0 3.2em 0 3.2em;}
        .buttonPurpleM {padding: 0 2em 0 2em;width: 50%}
        .buttonPurpleM:hover {padding: 0 2em 0 2em;}
        .buttonYellowM {padding: 0 2em 0 2em;width: 50%}
        .buttonYellowM:hover {padding: 0 2em 0 2em;}
        .buttonRedM {padding: 0 2em 0 2em;width: 50%}
        .buttonRedM:hover {padding: 0 2em 0 2em;}
        .buttonBlueM {padding: 0 2em 0 2em;width: 50%}
        .buttonBlueM:hover {padding: 0 2em 0 2em;}
    }
    @media only screen and (min-width: 481px) and (max-width: 960px) {
        .nav-button {padding: 0 .3em 0 .3em;font-size: 1em;}
        .active {padding: 0 .3em 0 .3em;}
        .main {width: 80%;text-align: center;margin: auto;}
        .name-input {width: 60%}
        .name-input:focus {width: 70%}
        .email-input {width: 60%}
        .email-input:focus {width: 70%}
        .message-input {width: 60%}
        .message-input:focus {width: 70%}
    }
    @media only screen and (min-width:960px){
        .nav-button:hover {padding: 0 4em 0 4em;}
        .active {padding: 0 7em 0 7em;}
    }
    