/* Main */

    @import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Reenie+Beanie');

    body {
        text-align: center;
        margin: auto;
    }

    h2 {
        font-family: 'Annie Use Your Telescope', cursive;

        font-size: 1.5em;
        font-weight: 800;
        letter-spacing: 0.3em;
    }

    a {
        color: #23236d;
    }

/* Loaders */
    
    .loader1 {
        width: 50%;
        height: 50px;
        margin: 300px auto;
        text-align: center;
    }

    .loader1 > div {
        display: inline-block;
        height: 20px;
        width: 20px;
    }
    
    .spinner2 {
        background-color: #FF1744;
        position: absolute;
        animation: slider1stLeft 2s infinite linear;
    }

    .spinner3 {
        background-color: #00E676;
        position: absolute;
        animation: slider1stRight 2s infinite linear;
    }

    .spinner5 {
        height: 4em;
        width: 4em;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: #212121;
        position: fixed;
        top: 50%;
        left: 50%;
        animation: scale2nd 1.5s infinite linear;
    }

    .spinner6 {
        height: 4em;
        width: 4em;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: #FF1744;
        position: fixed;
        top: 50%;
        left: 50%;
        animation: scale2ndBack 1.5s infinite linear;
    }

    .spinner10 {
        height: 0.5em;
        width: 0.5em;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: #212121;
        position: fixed;
        top: 50%;
        left: 48%;
        animation: move3rd 1s infinite linear;
    }

    .spinner11 {
        height: 0.5em;
        width: 0.5em;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: #212121;
        position: fixed;
        top: 50%;
        left: 49%;
        animation: move3rd 1s infinite linear;
        animation-delay: .1s;
    }

    .spinner12 {
        height: 0.5em;
        width: 0.5em;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: #212121;
        position: fixed;
        top: 50%;
        left: 50%;
        animation: move3rd 1s infinite linear;
        animation-delay: .2s;
    }

    .spinner13 {
        height: 0.5em;
        width: 0.5em;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: #212121;
        position: fixed;
        top: 50%;
        left: 51%;
        animation: move3rd 1s infinite linear;
        animation-delay: .3s;
    }

    .spinner14 {
        height: 0.5em;
        width: 0.5em;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: #212121;
        position: fixed;
        top: 50%;
        left: 52%;
        animation: move3rd 1s infinite linear;
        animation-delay: .4s;
    }

    .spinner15 {
        height: 3em;
        width: 3em;
        border: 3px solid;
        border-left-color: white;
        border-right-color: black;
        border-top-color: yellow;
        border-bottom-color: purple;
        border-radius: 50%;
        background-color: transparent;
        position: fixed;
        top: 50%;
        left: 50%;
        animation: fill4th 2s infinite linear;
    }


    .blocks {
        width: 50%;
        height: 50px;
        margin: 300px auto;
        text-align: center;
        
    }

    .blocks > div {
        display: inline-block;
        height: 100%;
        width: 20px;
    }

    
    .spinner16 {
        background-color: #fff;
        animation: size5th 2s infinite linear;
    }

    .spinner17 {
        background-color: #fff;
        animation: size5th 2s infinite linear;
    }

    .spinner18 {
        background-color: #fff;
        animation: size5th 2s infinite linear;
    }

    .spinner19 {
        background-color: #fff;
        animation: size5th 2s infinite linear;
    }

    .spinner21 {
        background-color: #363636;
        
        animation: size5thBack 2s infinite linear;
    }

    .spinner22 {
        background-color: #363636;
        
        animation: size5thBack 2s infinite linear;
    }

    .spinner23 {
        background-color: #363636;
        
        animation: size5thBack 2s infinite linear;
    }

    @keyframes slider1stRight {
        0%   {left:45%;}
        25%  {left:50%;background-color:#5E35B1;}
        50%  {left:55%;}
        75%  {left:50%;}
        100% {left:45%;}
    }

    @keyframes slider1stLeft {
        0%   {left:55%;}
        25%  {left:50%;background-color:#FFFF00;}
        50%  {left:45%;}
        75%  {left:50%;}
        100% {left:55%;}
    }

    @keyframes scale2nd {
        0%, 100% { 
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        } 50% { 
            transform: scale(0.7);
            -webkit-transform: scale(0.7);
        }
    }
    
    @keyframes scale2ndBack {
        0%, 100% { 
            transform: scale(0.7);
            -webkit-transform: scale(0.7);
        } 50% { 
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        }
    }

    @keyframes move3rd {
        0%   {background-color:#FF1744; top:50%;}
        25%  {background-color:#FFFF00; top:52%;}
        50%  {background-color:#5E35B1; top:54%;}
        75%  {background-color:#00E676; top:52%;}
        100% {background-color:#FF1744; top:50%;}
    }

    @keyframes fill4th {
         0%   {border-left-color: white;
        border-right-color: black;
        border-top-color: yellow;
        border-bottom-color: purple;}
        25%  {border-left-color: purple;
        border-right-color: white;
        border-top-color: black;
        border-bottom-color: yellow;}
        50%  {border-left-color: yellow;
        border-right-color: purple;
        border-top-color: white;
        border-bottom-color: black;}
        75%  {border-left-color: black;
        border-right-color: yellow;
        border-top-color: purple;
        border-bottom-color: white;}
        100% {border-left-color: white;
        border-right-color: black;
        border-top-color: yellow;
        border-bottom-color: purple;}
    }

    @keyframes size5th {
        0%, 100%   {height: 50px;}
        50%  {height: 20px;}
    }

    @keyframes size5thBack {
        0%, 100%   {height: 20px;}
        50%  {height: 50px;}
    }